{% extends "web/base.html" %}
{%load static %}
{% block content %}
    <h1>About</h1>
    <img src="{% static 'web/logo.jpg'%}" alt="">
    <p>
        We are Tomorrow's Robo Advisor. We aim to innovate your choice of investment.
        With Tomorrow's Robo Advisor, we will recommand you not only the optimal stocks portfolio you should hold 
        but also the trending cryptocurrencies you should check out. Want to invest in both stocks and 
        cryptocurrencies to get the desired return with lowest risk? Tomorrow's Robo Advisor is your best choice !
    </p>
    
{% endblock content %}